/* General styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

/* Product listing and cart items styling */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #e9e9e9;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #228B22;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #679767;
}

/* Cart remove button styling */
button {
    background-color: #ff0000;
    color: white;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ce6262;
}
